<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title> Cabin Crew</title>
</head>

<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <a href="/travels">Travel Diaries</a>
    <!-- user comes from res.locals.user = req.user in the server.js file!!!!!!! -->
    <!-- user will be the mongodb document if logged in
    if not the user will be undefined meaning they are not logged in -->
    <% if (user) { %>
      <a href="/travels">Your Travel Diary</a>
      <a href="/travels/new">Add Travel</a>
      <a href="/travels/new">Add Activity</a>
      <a href="/logout">logout</a>
     <% } else { %>
      <a href="/auth/google" class="login"> Login&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" width="25" height="25"/> </a>
     <% } %>
  </nav>
  <main>
