<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Logo</a>
        <a class="navbar-brand" href="/auth/google">Login</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <% if (user) { %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/travels/new">Add Travel</a></li>
          <li><a href="/travels">Read Travel Diaries</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <!-- <a class="navbar-brand" href="/auth/google">Login</a> -->
            <% } %>
        </nav>
        </ul>
      </div>
    </div>
  </nav>
