<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cabin Crew</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center" background-image = >
  <h1>Cabin Crew</h1>
  <p>Join our Cabin Crew and embark on a journey that celebrates family, exploration, and the beauty of our planet.</p>
</div>
</head>


<!-- <a href="/travels">Update Travel</a>
<a href="/travels">Delete Travel</a> -->


<form id="new-form" action="/travels" method="POST">
  <h2>Create Travel Diary Entry</h2>
  <br>
  <label>Country:</label>
  <input type="text" name="country">
  <br>
  <label>City:</label>
  <input type="text" name="city">
  <br>
  <label>Date Visited:</label>
  <input type="date" name="dateVisited">
  <br>
  <label>Date Returned:</label>
  <input type="date" name="dateReturned">
  <br>
  <label>Most Memorable Moments:</label>
  <br>
  <textarea name="memorableMoments" rows="4" cols="50">Tell us your 3 M's</textarea>
  <br>
  <label>Lessons Learned:</label>
  <br>
  <textarea name="lessonsLearned" rows="4" cols="50">What would you do differently?</textarea>
  <br>
  <label>Advice:</label>
  <br>
  <textarea name="advice" rows="4" cols="50">What advice would you give other parents?</textarea>
  <br>
  <label>Number of Children:</label>
  <input type="number" name="noChildren">
  <br>
  <label>Age of Children:</label>
  <input type="text" name="ageChildren">
  <br>
  <label>Kid Friendly Rating</label>
  <select name="kidFriendlyRating">
    <option value="G">G</option>
    <option value="PG">PG</option>
    <option value="PG-13">PG-13</option>
    <option value="R">R</option>
  </select>
  <br>
  <label>Would Go Again?:</label>
  <select name="futureVisit">
    <option value ="Yes">Yes</option>
    <option value ="No">No</option>
    <option value="Undecided">Undecided</option>
    <br>
    <input type="submit" value="Submit">
</select>
</form>

<%- include('../partials/footer') %>
